# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Ignore actual data files
data/input_videos/*
data/outputs/*

# But allow placeholders
!data/input_videos/.gitkeep
!data/outputs/.gitkeep
!data/.gitkeep
